@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

a:link {
    text-decoration: none;
    color: rgb(136, 92, 92);
}

a:visited {
    text-decoration: none;
    color: rgb(107, 52, 50);
}


header {
    font-family: 'Quicksand', sans-serif;
    font-size: larger;
    color: rgb(109, 75, 75);
    padding: 16px;
    border: 1.5px dashed whitesmoke;
    background-color: rgb(255, 220, 226);
    text-shadow: 2px 1px 2px rgb(131, 131, 131);
}

h1 {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 1px rgb(112, 98, 98);
}

.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }


.item {
    border-radius: 15px 50px;
    height: 200px;
    width: 200px;
    box-shadow: 1px 1px 1px 1px palevioletred;
  }

.item:hover {
    box-shadow: 2px 2px 2px 2px rgb(206, 165, 172);
  }

.ingredient {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
    height: 200px;
    width: 200px;
    box-shadow: 2px 2px 2px 2px rgb(255, 220, 226);
  }

.ingredient tr:nth-child(even){
    background:rgb(255, 255, 255);
}

.image {
    border-radius: 15px 50px 30px 5px;
    height: 200px;
    width: 200px;
    box-shadow: 2px 2px 2px 2px rgb(206, 165, 172);
  }



body {
    font-family: 'Quicksand', sans-serif;
    color: rgb(201, 126, 126);
    padding: 0px;
    margin: 0px;
    background-color: #fff0f0;
background-image: url("https://www.transparenttextures.com/patterns/white-tiles.png");
}

main{
    padding: 16px;
}

.bauble {
    border-radius: 0px 0px 0px 0px;
    position: absolute;
   right: 15px;
   bottom: 10px;
}

#sparkle{
    position:fixed;
    left: 15%;
}

footer{
    padding: 24px 0px 24px;
    border: 1px dashed rgb(191, 211, 198);
    background-color: rgb(255, 247, 238);
}
